.loading__container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading__ring {
  animation: ringA 2s linear infinite;
}

.loading__ring--a {
  stroke: #f42f25;
}

.loading__ring--b {
  stroke: #f49725;
  animation-name: ringB;
}

.loading__ring--c {
  stroke: #255ff4;
  animation-name: ringC;
}

.loading__ring--d {
  stroke: #f42582;
  animation-name: ringD;
}

@keyframes ringA {
  from,
  4% {
    stroke-width: 20;
    stroke-dasharray: 0 660;
    stroke-dashoffset: -330;
  }

  12% {
    stroke-width: 30;
    stroke-dashoffset: -335;
    stroke-dasharray: 60 600;
  }

  32% {
    stroke-width: 30;
    stroke-dashoffset: -595;
    stroke-dasharray: 60 600;
  }

  40%,
  54% {
    stroke-width: 20;
    stroke-dasharray: 0 660;
    stroke-dashoffset: -660;
  }

  62% {
    stroke-width: 30;
    stroke-dashoffset: -665;
    stroke-dasharray: 60 600;
  }

  82% {
    stroke-width: 30;
    stroke-dashoffset: -925;
    stroke-dasharray: 60 600;
  }

  90%,
  to {
    stroke-width: 20;
    stroke-dasharray: 0 660;
    stroke-dashoffset: -990;
  }
}

@keyframes ringB {
  from,
  12% {
    stroke-width: 20;
    stroke-dasharray: 0 220;
    stroke-dashoffset: -110;
  }

  20% {
    stroke-width: 30;
    stroke-dashoffset: -115;
    stroke-dasharray: 20 200;
  }

  40% {
    stroke-width: 30;
    stroke-dashoffset: -195;
    stroke-dasharray: 20 200;
  }

  48%,
  62% {
    stroke-width: 20;
    stroke-dasharray: 0 220;
    stroke-dashoffset: -220;
  }

  70% {
    stroke-width: 30;
    stroke-dashoffset: -225;
    stroke-dasharray: 20 200;
  }

  90% {
    stroke-width: 30;
    stroke-dashoffset: -305;
    stroke-dasharray: 20 200;
  }

  98%,
  to {
    stroke-width: 20;
    stroke-dasharray: 0 220;
    stroke-dashoffset: -330;
  }
}

@keyframes ringC {
  from {
    stroke-width: 20;
    stroke-dashoffset: 0;
    stroke-dasharray: 0 440;
  }

  8% {
    stroke-width: 30;
    stroke-dashoffset: -5;
    stroke-dasharray: 40 400;
  }

  28% {
    stroke-width: 30;
    stroke-dashoffset: -175;
    stroke-dasharray: 40 400;
  }

  36%,
  58% {
    stroke-width: 20;
    stroke-dasharray: 0 440;
    stroke-dashoffset: -220;
  }

  66% {
    stroke-width: 30;
    stroke-dashoffset: -225;
    stroke-dasharray: 40 400;
  }

  86% {
    stroke-width: 30;
    stroke-dashoffset: -395;
    stroke-dasharray: 40 400;
  }

  94%,
  to {
    stroke-width: 20;
    stroke-dasharray: 0 440;
    stroke-dashoffset: -440;
  }
}

@keyframes ringD {
  from,
  8% {
    stroke-width: 20;
    stroke-dashoffset: 0;
    stroke-dasharray: 0 440;
  }

  16% {
    stroke-width: 30;
    stroke-dashoffset: -5;
    stroke-dasharray: 40 400;
  }

  36% {
    stroke-width: 30;
    stroke-dashoffset: -175;
    stroke-dasharray: 40 400;
  }

  44%,
  50% {
    stroke-width: 20;
    stroke-dasharray: 0 440;
    stroke-dashoffset: -220;
  }

  58% {
    stroke-width: 30;
    stroke-dashoffset: -225;
    stroke-dasharray: 40 400;
  }

  78% {
    stroke-width: 30;
    stroke-dashoffset: -395;
    stroke-dasharray: 40 400;
  }

  86%,
  to {
    stroke-width: 20;
    stroke-dasharray: 0 440;
    stroke-dashoffset: -440;
  }
}
