:root {
  --link-hover-color: #02679a;
  --default-background-color: #97a1cdff;
  --pf-global--primary-color--100: #ff0054;
  --pf-global--primary-color--200: #d60248;
}

.login-pf a:hover {
  text-decoration: none;
  color: var(--link-hover-color);
}

.pf-c-form-control {
  --pf-global--primary-color--100: unset;
}

.login-pf body {
  background-image: url("../img/login-background.jpeg"),
    linear-gradient(135deg, var(--default-background-color) 0%, #a96699ff 100%);
}
